/* src/styles/Home.css */

.card-title {
  font-size: 1rem;
  height: 45px;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}

.carousel-item img {
  border-radius: 5px;
}
