/* src/styles/Footer.css */

footer h5 {
  font-weight: 600;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer {
  background-color: #212529;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
